<div class="container">
    <h2>Questions</h2>
    <%if session[:id]%>
      <a id='add_question' href='#'>Ask a question</a>
      <form id="submit_question" action="/questions" method="post">
        <input type="text" name="question[title]" placeholder="title"><br>
        <textarea name="question[question]" placeholder="your question goes here"></textarea><br>
        <input type="submit" value="ASK">
      </form>
    <%end%>
<% if @questions%>
  <ul class="white lighten-3">
    <% @questions.each do |question| %>
      <div class="center question-wrapper">
        <div class="middle-stat grey-text">
          <li class="green-text"><%= vote_num(question) %></li>
        </div>
        <div class="question-main">
          <li>
            <a class="grey-text text-darken-3 question-title" href='/questions/<%= question.id %>'><%= question.title %></a>
            <span class="grey-text text-darken-3">asked by <a class="green-text question-author" href='/users/<%= question.user.id %>'><%= question.user.username %></a> on <%= question.created_at.strftime("%b-%d-20%y") %> </span>
          </li>
        </div>
        <div class="grey-text text-darken-3 question-stats">
          <li>Views: <span class="green-text"><%= question.views %></span></li>
          <li>Answers: <span class="green-text"><%= question.answers.length %></span></li>
        </div>
      </div>
    <% end %>
  </ul>
<% end %>
</div>
