<div class="container">
    <h2>Questions</h2>
    <%if session[:id]%>
    <a id='add_question' href='#'>Ask a question</a>
    <form id="submit_question" action="/questions" method="post">
      <input type="text" name="question[title]" placeholder="title"><br>
      <textarea name="question[question]" placeholder="your question goes here"></textarea><br>
      <input type="submit" value="ASK">
    </form>
    <%end%>
<% if @questions%>
  <ul id="append">
    <% @questions.each do |question| %>
      <li class='q'><a class="question" href='/questions/<%= question.id %>'><%= question.title %></a></li>
        <li>Views: <%= question.views %></li>
                <li>Votes: <%= question.votes.length %></li>
        <li>Answers: <%= question.answers.length %></li>
        <% end %>
      </ul>
    <% end %>
</div>
