<div class="container">

  <%= erb :'/questions/_question_info'%>

  <% if current_user_id == @question.user.id %>
    <form action="/questions/<%=@question.id%>" method="post">
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" name="delete" value="Delete">
    </form>
    <a href='/questions/<%= @question.id %>/edit'>edit</a>
  <% end %>

  <h4>Respones</h4>

  <div class="answers">
    <% @answers.each do | answer | %>
      <div class='answer-wrapper'>
        <div class="answer-vote">
          <p class="a-vote"><%= answer.votes.count %> </p>
          <p id="<%= answer.id %>" class="answer-body grey lighten-4"><%= answer.body %></p>
        </div>

        <form class='update' style='display:none' action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="post">
          <input type="text" name="new[answer]" value="<%=answer.body%>">
          <input type="submit" value="update">
        </form>

        <div class="answer-comment">
          <div class='comment'>
            <a style='display:none' class='hide_comments' href="">hide comments</a>
            <a class='view_comments show_c' href="">view comments</a>
          </div>
          <div class='answer-date'>
              <a class='answer-user right-align' href='/users/<%= answer.user.id %>'>
                <%= answer.user.username %>
              </a> <%= answer.created_at.strftime("%b-%d-20%y") %>
          </div>
        </div>

        <% if current_user%>
          <a class='add_comments' href="">add comment</a>
        <% end %>

        <% if answer.user.id == current_user_id %>
          <div class="user-tools right-align">
        <% else %>
          <div class="user-tools right-align" style='display:none'>
        <% end %>
        <form class="delete" action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete">
        </form>
        <a class="edit" href="/questions/<%= @question.id %>/answers/<%= answer.id %>/edit">Edit</a>
        </div>


        <div style='display:none' class='show_add_c'>
          <form class="create_comment" action="/answers/<%= answer.id %>/comments" type="post">
              <input type="text" name="comment">
              <input type="submit">
          </form>
          <a class='cancel' href="">cancel</a>
        </div>

        <div class='comments' style='display:none'>
          <% answer.comments.each do |com| %>
            <div class="answer-vote">
              <p id="<%= answer.id %>" class="answer-body grey lighten-4"><%= com.body %></p>
            </div>
            <div class="answer-comment left-align">
              <div class='answer-date'>
                  <a class='answer-user' href='/users/<%= answer.user.id %>'>
                    <%= com.user.username %>
                  </a> <%= com.created_at.strftime("%b-%d-20%y") %>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
  <% if current_user %>
    <textarea name="answer[body]" form='new_ans' rows="4" cols="40" placeholder="answer"></textarea>
    <form id='new_ans' action="/questions/<%= @question.id %>" method="post">
      <input type="hidden" name="answer[user_id]" value="<%= current_user_id %>">
      <input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
      <input type="submit" value="Answer">
    </form>
  <% end %>
</div>
