<div class='votes'>
  <%= @question.votes.length %>
</div>

<div class='question'>
  <h2> <%= @question.title %> </h2>
  <p>  <%= @question.question %> </p>
  <span> <%= @question.user.username %> </span>
</div>
<a href="/question/new">add question</a>

<h2>First set of answers</h2>

<ul>
<% @answers.each do | answer | %>
<li class="ans"><%= answer.answer %></li>
<li class="ans"><a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a></li>
<li class="ans"><%= answer.votes.count %></li>
<li class="ans">answered <%= answer.created_at %></li>
<% end %>
</ul>
