<div class='votes'>

  <a href=''>up</a>
    <%= @question.votes.length %>
  <a href=''>down</a>
</div>

<div class='question'>
  <h2> <%= @question.title %> </h2>
  <p>  <%= @question.question %> </p>
  <%if @question.user%>
    <a href='/users/<%= @question.user.id %>'> <%= @question.user.username %> </a>
  <%end%>
  <span> <%= @question.created_at %> </span>
</div>

<% if session[:id] == @question.user.id %>
  <form action="/questions/<%=@question.id%>" method="post">
    <input type="hidden" name='_method' value='delete'>
    <input type="submit" name="delete" value="Delete">
  </form>
    <a href='/questions/<%= @question.id %>/edit'>edit</a>
<% end %>

<a href="/question/new">add question</a>

<h2>First set of answers</h2>

<ul>
<% @answers.each do | answer | %>
<li class="ans"><%= answer.answer %></li>
<li class="ans"><a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a></li>
<li class="ans"><%= answer.votes.count %></li>
<li class="ans"><%= answer.created_at.strftime("answered %b %d'%y at %H:%M") %></li>
<% end %>

</ul>

<form action="/questions/<%= @question.id %>" method="post">
  <input type="text" name="answer[answer]" placeholder="answer">
  <input type="hidden" name="answer[user_id]" value="<%= session[:id] %>">
  <input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
  <input type="submit" value="Answer">
</form>