<div class="container">
  <div class='votes'>
    <a href=''>up</a>
      <%= @question.votes.length %>
    <a href=''>down</a>
  </div>

  <div class='question'>
    <h2> <%= @question.title %> </h2>
    <p>  <%= @question.question %> </p>
    <%if @question.user%>
      <a href='/users/<%= @question.user.id %>'> <%= @question.user.username %> </a>
    <%end%>
    <span> <%= @question.created_at %> </span>
  </div>

  <% if session[:id] == @question.user.id %>
    <form action="/questions/<%=@question.id%>" method="post">
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" name="delete" value="Delete">
    </form>
    <a href='/questions/<%= @question.id %>/edit'>edit</a>
  <% end %>

  <div class="answer">
    <% @answers.each do | answer | %>
    <ul>
      <li id="<%= answer.id %>" class="ans_text"><%= answer.answer %></li>
      <li style='display:none'>
        <form class='update' action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="text" name="new[answer]" value="<%=answer.answer%>">
          <input type="submit" value="update">
        </form></li>
      <li class="ans_user"><a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a></li>
      <li class="ans_votes"><%= answer.votes.count %></li>
      <li class="ans_time"><%= answer.created_at.strftime("answered %b %d'%y at %H:%M") %></li>
      <%if answer.user.id == session[:id]%>
        <form class="delete" action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete answer">
        </form>
      <a class="edit" href="/questions/<%= @question.id %>/answers/<%= answer.id %>/edit">Edit</a>
      <% end %>
      <p>---------------------------------------------</p>
    </ul>
    <% end %>
  </div>
    <form action="/questions/<%= @question.id %>" method="post">
      <input type="text" name="answer[answer]" placeholder="answer">
      <input type="hidden" name="answer[user_id]" value="<%= session[:id] %>">
      <input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
      <input type="submit" value="Answer">
    </form>
</div>
