<div>
  <h1>Welcome <%=@user.username%>!!</h1>
  <a href="/sessions/logout">logout</a>
  <a href="/users/<%=@user.id%>/edit">edit</a>

  <h2>answers</h2>
  <p><%@user.answers.all.each do |ans|%>
    <%=ans.answer%>
  <%end%></p>
  <h2>questions asked</h2>
  <p><%@user.questions.all.each do |ques|%>
      <a href='/questions/<%=ques.id%>'><%=ques.title%></a>
  <%end%></p>
  
  <p>Reputation score: <%=@user.reputation%></P>


</div>
