<% if voted(current_user_id, votable_type) == 'voted_up' %>
  <a class='vote <%= voted(current_user_id, votable_type) %>' id='up' href='/<%= votable_type.type %>/<%= votable_type.id%>/votes'>&#x2191;</a>
  <div class='vote_number'>
    <%= vote_num(votable_type) %>
  </div>
  <a class='vote' id='down' href='/<%= votable_type.type %>/<%= votable_type.id%>/votes'>&#x2193;</a>
<% elsif voted(current_user_id, votable_type) == 'voted_down' %>
  <a class='vote' id='up' href='/<%= votable_type.type %>/<%= votable_type.id%>/votes'>&#x2191;</a>
  <div class='vote_number'>
    <%= vote_num(votable_type) %>
  </div>
  <a class='vote <%= voted(current_user_id, votable_type) %>' id='down' href='/<%= votable_type.type %>/<%= votable_type.id%>/votes'>&#x2193;</a>
<% else %>
  <a class='vote' id='up' href='/<%= votable_type.type %>/<%= votable_type.id%>/votes'>&#x2191;</a>
  <div class='vote_number'>
    <%= vote_num(votable_type) %>
  </div>
  <a class='vote' id='down' href='/<%= votable_type.type %>/<%= votable_type.id%>/votes'>&#x2193;</a>
<% end %>
